/* Game styling  */
.underScore-text{
    font-size :30px; 
    border: solid 5px red; 
    font-family: 'ZCOOL KuaiLe', cursive;
    color: red; 
}
body { 
font-family: 'Mogra', cursive;
padding: 10px; 
margin: 10px; 
text-align: center; 

}
span, p , div{
    margin: 15px; 
}



/* Shadow effect to game name */
.gameHeading {
    text-shadow: 1px 12px 6px #FF2BF8;
    color: silver;
    text-align: center; 
    font-size: 40px;
    padding : 20px;
    margin: 20px 0 0 40px; 
    font-family: 'ZCOOL KuaiLe', cursive;
}

p {
    padding: 5px;
    margin: 10px; 
    /* position: fixed; */
}